/backend_microservices/api_gateway/.gitattributes
/backend_microservices/eureka_server/.gitattributes
/backend_microservices/task_service/.gitattributes
/backend_microservices/task_submission_service/.gitattributes
/backend_microservices/user_service/.gitattributes
/backend_microservices/.idea/.gitignore
/backend_microservices/api_gateway/.gitignore
/backend_microservices/eureka_server/.gitignore
/backend_microservices/task_service/.gitignore
/backend_microservices/task_submission_service/.gitignore
/backend_microservices/user_service/.gitignore
/backend_microservices/api_gateway/src/test/java/ru/marinin/ApiGatewayApplicationTests.java
/backend_microservices/eureka_server/src/main/resources/application.properties
/backend_microservices/task_service/src/main/resources/application.properties
/backend_microservices/task_submission_service/src/main/resources/application.properties
/backend_microservices/user_service/src/main/resources/application.properties
/backend_microservices/.idea/compiler.xml
/backend_microservices/.idea/dbnavigator.xml
/backend_microservices/.idea/encodings.xml
/backend_microservices/eureka_server/src/test/java/ru/marinin/EurekaServerApplicationTests.java
/backend_microservices/.idea/jarRepositories.xml
/backend_microservices/api_gateway/.mvn/wrapper/maven-wrapper.properties
/backend_microservices/eureka_server/.mvn/wrapper/maven-wrapper.properties
/backend_microservices/task_service/.mvn/wrapper/maven-wrapper.properties
/backend_microservices/task_submission_service/.mvn/wrapper/maven-wrapper.properties
/backend_microservices/.idea/misc.xml
/backend_microservices/.idea/modules.xml
/backend_microservices/api_gateway/mvnw
/backend_microservices/eureka_server/mvnw
/backend_microservices/task_service/mvnw
/backend_microservices/task_submission_service/mvnw
/backend_microservices/user_service/mvnw
/backend_microservices/api_gateway/mvnw.cmd
/backend_microservices/eureka_server/mvnw.cmd
/backend_microservices/task_service/mvnw.cmd
/backend_microservices/task_submission_service/mvnw.cmd
/backend_microservices/user_service/mvnw.cmd
/backend_microservices/task_service/src/test/java/ru/marinin/TaskServiceImplementationApplicationTests.java
/backend_microservices/task_submission_service/src/test/java/ru/marinin/TaskSubmissionServiceApplicationTests.java
/backend_microservices/.idea/uiDesigner.xml
/backend_microservices/user_service/src/test/java/ru/marinin/UserServiceApplicationTests.java
/backend_microservices/.idea/vcs.xml
