/backend_microservices/api_gateway/.mvn/wrapper/maven-wrapper.properties
/backend_microservices/api_gateway/.gitattributes
/backend_microservices/api_gateway/.gitignore
/backend_microservices/api_gateway/mvnw
/backend_microservices/api_gateway/mvnw.cmd
/backend_microservices/eureka_server/.mvn/wrapper/maven-wrapper.properties
/backend_microservices/eureka_server/src/main/resources/application.properties
/backend_microservices/eureka_server/src/test/java/ru/marinin/EurekaServerApplicationTests.java
/backend_microservices/eureka_server/.gitattributes
/backend_microservices/eureka_server/.gitignore
/backend_microservices/eureka_server/mvnw
/backend_microservices/eureka_server/mvnw.cmd
/frontend_v2/node_modules/*