:root {
  --deep-frost: #2E4A62;
  --ice-blue: #ecf0f1;
  --glacial-shadow: rgba(46, 74, 98, 0.2);
  --silver-accent: #C0C9D1;
  --cold-steel: #A3B8CC;
}

.content-container {
  background: white;
  border: 2px solid var(--cold-steel);
  border-radius: 12px;
  box-shadow: 0 4px 20px var(--glacial-shadow);

  margin-top: 20px;
  margin-left: 260px;
  position: absolute;
  right: 20px; /* Фиксированный отступ справа */
  left: 20px; /* Отступ слева (при необходимости) */
  width: auto; /* Ширина будет между left и right */
  
}

.page-title {
  color: var(--deep-frost);
  border-bottom: 2px solid var(--silver-accent);
  padding-bottom: 15px;
  margin-bottom: 25px;
  font-size: 1.8rem;
  font-weight: 600;
}

/* .primary-btn {
  background: var(--deep-frost);
  color: white;
  padding: 10px 25px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.secondary-btn {
  background: #f0f2f5;
  color: var(--deep-frost);
  padding: 10px 25px;
  border-radius: 6px;
  border: 1px solid var(--silver-accent);
  cursor: pointer;
} */

/* Адаптивность */
@media (max-width: 768px) {
  .page-wrapper {
    margin-left: 80px;
    padding: 20px;
  }
  
  .content-container {
    margin-left: 60px;
    padding: 20px;
  }
  
  .page-title {
    font-size: 1.5rem;
  }
}
